// fonts
$Raleway: 'Raleway' ,sans-serif;

// colors
$black: #363b3f;
$gray: #595959;
$gray2: #3b4759;
$lightgray: #f8f8f8;
$white: #fff;
$blue: #00d9d3;
$blue2: #00d8d3;
$blue3: #00eed2;
$blue4: #00a1d6;
